---
{% if potos_runtype == 'setup' %}
- name: firstboot
  src: git+https://github.com/projectpotos/ansible-role-potos_firstboot
  version: 'main'
{% endif %}
- name: basics
  src: git+https://github.com/fadnincx/ansible-role-potos_basics.git
  version: 'fixes'

- name: wallpaper
  src: git+https://github.com/projectpotos/ansible-role-potos_wallpaper.git
  version: 'main'
  
- name: apt
  src: git+https://github.com/Schroeffu/ansible-role-potos_apt.git
  version: 'main'
